[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = " Scripts make life more easier for a lazy peeps "
[access "refs/*"]
	owner = group user/andro-sapien
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/andro-sapien
	label-Verified = -1..+1 group user/andro-sapien
	push = group user/andro-sapien
	read = group user/andro-sapien
	rebase = group user/andro-sapien
	removeReviewer = group user/andro-sapien
	submit = group user/andro-sapien
[access "refs/heads/*"]
	create = group user/andro-sapien
	push = +force group user/andro-sapien
	pushMerge = group user/andro-sapien
	read = group user/andro-sapien
[access "refs/tags/*"]
	push = group user/andro-sapien
	push = +force group user/andro-sapien
